image: alpine

pages:
  script:
  - apk --no-cache add py3-pip python3-dev
  - pip3 install sphinx
  - pip3 install sphinxcontrib-bibtex
  - apk --no-cache add make
  - mkdir -p dummy_imports/{dolfin,ufl,mpi4py,petsc4py,numpy}
  - touch dummy_imports/{dolfin,numpy}/__init__.py
  - echo $'Form' > dummy_imports/ufl/__init__.py
  - echo $'MPI' > dummy_imports/mpi4py/__init__.py
  - echo $'PETSc' > dummy_imports/petsc4py/__init__.py
  - export PYTHONPATH=$PWD/dummy_imports:$PYTHONPATH
  - cd ../doc
  - make html
  - cd ../
  - mv doc/build/html/ public/
  artifacts:
    paths:
    - public
  only:
  - master
