image: fenics/base

pages:
  script:
  - pip3 install sphinx
  - pip3 install sphinxcontrib-bibtex
  - cd doc
  - make html
  - cd ../
  - mv doc/build/html/ public/
  artifacts:
    paths:
    - public
  only:
  - master
