image: continuumio/miniconda3:latest

before_script:
  - conda create -n fenicsproject -c conda-forge fenics
  - source activate fenicsproject

pages:
  script:
  - cd doc
  - make html
  - cd ../
  - mv doc/build/html/ public/
  artifacts:
    paths:
    - public
  only:
  - master
